/* Start Variables */
:root {
	--primary-clr-100: #37393f;
	--primary-clr-200: #6b78e5;
	--primary-clr-300: #40ddb6;
	--secondary-clr-100: #757575;
	--secondary-clr-200: #f4f4f4;
	--color-opacityOverlay: 0.96;
	--ff-body: "Inter", sans-serif;
	--ff-heading: "Poppins", sans-serif;
	--fw-heading: 700;
	--fs-heading-100: 3.75rem;
	--fs-heading-200: 2.5rem;
	--fs-heading-300: 2.188rem;
	--fs-heading-400: 1.875rem;
	--fs-heading-500: 1.563rem;
	--fs-heading-600: 1.375rem;
	--ff-p: "Inter", sans-serif;
	--fs-p: 1.125rem;
	--fw-p: 400;
	--section-padding: 30px;
}

/* End Variables */
/* Start Golbal Rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--ff-body);
	background-color: rgb(255, 255, 255);
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* End Golabl Rules */
/* Start Components */
.section-subtitle {
	font-family: var(--ff-p);
	font-style: normal;
	font-weight: var(--fw-p);
	font-size: var(--fs-p);
	line-height: 146.19%;
	position: relative;
	margin-left: 20px;
	color: var(--primary-clr-100);
}
.section-subtitle::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	background-color: var(--primary-clr-300);
}
.section-headline {
	margin-top: 13px;
	margin-bottom: 13px;
	color: var(--primary-clr-100);
	font-family: var(--ff-heading);
	font-weight: var(--fw-heading);
	line-height: 1.2;
	text-transform: capitalize;
}
@media (min-width: 320px) {
	.section-headline {
		font-size: 24px;
	}
}
@media (min-width: 768px) {
	.section-headline {
		font-size: 30px;
	}
}
@media (min-width: 1200px) {
	.section-headline {
		font-size: var(--fs-heading-200);
	}
}
.section-title {
	margin-bottom: 10px;
	color: var(--secondary-clr-100);
	font-family: var(--ff-p);
	font-size: var(--ff-p);
	font-weight: var(--fw-p);
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.btn {
	color: inherit;
	font-size: 18px;
	font-weight: 600;
	transition: background-color 200ms ease, border-color 200ms ease, color 200ms ease;
}
.primary-btn {
	background-color: var(--primary-clr-200);
	border: 3px solid var(--primary-clr-200);
	padding: 1rem;
	color: white;
}
.primary-btn:hover {
	background-color: white;
	color: var(--primary-clr-200);
}
.seconadry-btn {
	background-color: var(--primary-clr-300);
	border: 3px solid var(--primary-clr-300);
	padding: 1rem;
	color: white;
}
.seconadry-btn:hover {
	background-color: white;
	color: var(--primary-clr-300);
}

/* End Components */
/* Start TopBar Rules */
section.top-head {
	background-color: var(--primary-clr-100);
	color: white;
	padding: 1rem;
}
section.top-head .topbar-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
section.top-head .top-address-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
section.top-head .topbar-link {
	color: white;
}
section.top-head .top-address-content {
	font-size: 14px;
}
section.top-head .topbar-contact,
.topbar-address {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
section.top-head i:not(.topbar-social-link i) {
	color: var(--primary-clr-300);
}
.topbar-social-link i {
	font-size: 1.2rem;
	color: white;
}
@media only screen and (min-width: 768px) {
	section.top-head .topbar-flex {
		flex-direction: row;
		justify-content: center;
	}
}
@media only screen and (min-width: 1200px) {
	section.top-head .topbar-flex {
		justify-content: space-between;
	}
	section.top-head .topbar-contact,
	.topbar-address {
		flex-direction: row;
	}
}
/* End TopBar Rule */
/* Start Header Rules */
/* Small Devices */
section.header {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
section.header .container .header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	position: relative;
}
.header-container .header-left-logo {
	text-align: center;
	width: 100%;
}
.header-left-logo a img[alt="Logo"] {
	max-width: 100%;
}
.header-container .header-right-menu-cta {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.header-container .header-right-menu-cta .header-menu .header-nav {
	display: none;
	position: absolute;
	top: 110%;
	left: 0;
	width: 100%;
	background-color: var(--secondary-clr-200);
}
.header-right-menu-cta .header-menu .header-nav ul#menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.header-right-menu-cta .header-menu .header-nav ul li {
	padding: 1rem;
	width: 100%;
	border-bottom: 1px solid var(--primary-clr-300);
}
.header-right-menu-cta .header-menu .header-nav ul li:hover {
	border-bottom: 1px solid var(--primary-clr-200);
}
.header-right-menu-cta .header-menu .header-nav ul li a {
	color: var(--primary-clr-100);
	font-size: 14px;
	font-weight: 500;
}
ul.dropdown-menu {
	display: none;
}
.header-right-menu-cta .header-menu .nav-toggle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-clr-200);
	width: fit-content;
	padding: 1rem;
}
.header-right-menu-cta .header-menu .nav-toggle .toggle-line {
	display: block;
	width: 21px;
	height: 3px;
	margin-bottom: 4px;
	background-color: white;
}
.header-right-menu-cta .header-menu .nav-toggle .toggle-line:last-child {
	margin-bottom: 0;
}
/* Mediem Devices */
@media only screen and (min-width: 768px) {
	section.header .container .header-container {
		flex-direction: row;
		justify-content: space-between;
	}
	.header-container .header-left-logo {
		text-align: left;
	}
	.header-container .header-right-menu-cta {
		justify-content: flex-end;
	}
	.header-container .header-right-menu-cta .header-menu .header-nav {
		top: 130%;
	}
	.header-right-menu-cta .header-menu .nav-toggle {
		margin-right: 1rem;
	}
}
/* Large Devices */
@media only screen and (min-width: 1200px) {
	section.header .container .header-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		position: relative;
	}
	.header-container .header-left-logo {
		text-align: left;
		width: auto;
	}
	.header-left-logo a img[alt="Logo"] {
		width: auto;
	}
	.header-container .header-right-menu-cta {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: auto;
		gap: 2rem;
	}
	.header-container .header-right-menu-cta .header-menu .header-nav {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: auto;
		background-color: transparent;
	}
	.header-right-menu-cta .header-menu .header-nav ul#menu {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.header-right-menu-cta .header-menu .header-nav ul li {
		padding: 1rem;
		width: auto;
		border-bottom: 0;
	}
	.header-right-menu-cta .header-menu .header-nav ul li:hover {
		border-bottom: 0;
	}
	.header-right-menu-cta .header-menu .header-nav ul li a {
		color: var(--primary-clr-100);
		font-size: 18px;
		font-weight: 400;
	}
	.header-right-menu-cta .header-menu .header-nav ul li a:hover:not(#pages-link) {
		color: var(--primary-clr-200);
	}
	.dropdown:hover .dropdown-menu {
		display: block;
	}
	ul.dropdown-menu {
		display: none;
		position: absolute;
		z-index: 1;
		top: 100%;
		background-color: var(--secondary-clr-200);
	}
	ul.dropdown-menu li {
		border-bottom: 1px solid var(--primary-clr-300) !important;
	}
	ul.dropdown-menu li:hover {
		border-bottom: 1px solid var(--primary-clr-200) !important;
	}
	ul.dropdown-menu a.drop-link {
		font-weight: 300 !important;
		font-size: 14px !important;
	}
	.header-right-menu-cta .header-menu .nav-toggle {
		display: none;
	}

	.header-right-menu-cta .primary-btn {
		padding: 1.5rem;
	}
	.btn {
		font-size: 18px;
	}
}
/* End Header Rules */
/* Start Hero Rules */
section.hero {
	background-color: var(--primary-clr-100);
	background-image: url(/images/hero-section.jpg);
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
	position: relative;
}
section.hero .overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--primary-clr-100);
	opacity: var(--color-opacityOverlay);
}
section.hero .hero-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15px;
	padding-right: 15px;
}
section.hero .hero-text {
	margin-bottom: 20px;
}
.hero-title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: var(--ff-heading);
	font-weight: var(--fw-heading);
	font-size: var(--fs-heading-100);
	line-height: 1.3;
	white-space: break-spaces;
}
.hero-description {
	margin-bottom: 10px;
	padding-top: 10px;
	font-family: var(--ff-p);
	font-size: var(--fs-p);
	font-weight: var(--fw-p);
	color: #b9b9b9;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
section.hero .hero-button {
	margin-top: 20px;
}
section.hero .hero-content .hero-text .section-subtitle {
	color: white;
	font-size: 14px;
	font-weight: 500;
}
section.hero .hero-content .hero-text .hero-title {
	color: white;
	font-size: 34px;
}
section.hero .hero-content .hero-text .hero-title span {
	color: var(--primary-clr-300);
}
.hero-button-video {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hero-btn {
	padding: 1.5rem 2rem;
}
.hero-video-link {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	color: white;
}
.hero-video-link i.fa-play {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-clr-200);
	color: inherit;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.hero-video-link a {
	color: inherit;
	text-decoration: underline;
	font-size: 18px;
	font-weight: 600;
}
@media only screen and (min-width: 768px) {
	section.hero .hero-content .hero-text .hero-subtitle {
		font-size: 16px;
	}
	section.hero .hero-content .hero-text .hero-title {
		font-size: 43px;
	}
}
@media only screen and (min-width: 1200px) {
	section.hero .overlay {
		width: 45%;
	}
	section.hero .hero-content {
		width: 45%;
	}
	.hero-button-video {
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}
}
/* End Hero Rules */
/* Start Welcome Rules */
section.welcome .welcome-container .welcome-image-content {
	width: 100%;
	padding: 5rem 1rem;
	background-color: var(--secondary-clr-200);
}
.welcome-image-content .welcome-image img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.welcome-image-content .welcome-image h2.welcome-intro-title {
	margin-top: 2rem;
	margin-bottom: 15px;
	color: var(--primary-clr-100);
	font-family: var(--ff-heading);
	font-size: var(--fs-heading-500);
	line-height: 1.3;
	font-weight: 600;
	text-transform: capitalize;
}
.welcome-image-content .welcome-image p {
	margin-bottom: 10px;
	font-family: var(--ff-p);
	color: var(--secondary-clr-100);
	font-size: var(--fs-p);
	line-height: 1.5;
	font-weight: var(--fw-p);
	letter-spacing: 0.02em;
}
.welcome-image-content .welcome-image a {
	display: inline-block;
	padding-top: 10px;
	border-bottom: 2px solid var(--primary-clr-100);
	color: var(--primary-clr-100);
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}
.welcome-image-content .welcome-image a:hover {
	color: var(--primary-clr-200);
	border-bottom-color: var(--primary-clr-200);
}
section.welcome .welcome-container .welcome-intro-content {
	width: 100%;
	padding: 80px 40px;
}
.welcome-intro-content .welcome-intro .intro-point {
	padding-top: 10px;
}
.welcome-intro-content .welcome-intro .intro-point .intro-point-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
	gap: 1rem;
}
.welcome-intro-content .welcome-intro .intro-point .intro-point-item .intro-point-title {
	font-family: var(--ff-heading);
	font-size: 17px;
	font-weight: 400;
	text-transform: capitalize;
	color: var(--primary-clr-100);
}
.welcome-container .welcome-intro-content .welcome-intro .welcome-item-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 3rem;
}
.welcome-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1rem;
	padding: 1rem;
	width: 100%;
	border: 1px solid #e3e3e3;
}
h4.welcome-item-title {
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: var(--ff-heading);
	color: var(--primary-clr-100);
	font-size: 18px;
	line-height: 1.4;
	font-weight: var(--fw-heading);
}
.welcome-item-content p {
	margin-bottom: 10px;
	font-family: var(--ff-p);
	color: var(--secondary-clr-100);
	font-size: 14px;
	line-height: 1.5;
	font-weight: var(--fw-p);
	letter-spacing: 0.02em;
}
@media only screen and (min-width: 1200px) {
	.welcome-container {
		display: flex;
		flex-direction: row;
	}
	.welcome-image {
		width: 70%;
		margin: 0 auto;
	}
	section.welcome .welcome-container .welcome-image-content {
		width: 45%;
	}
}
